/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

/* common styles or utilities */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h3 {
  color: black;
}
p {
  color: grey;
}
/* title and banner style */

.container-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 677px;
  background-color: #562eff;
  /* width: 1240px; */
}

.title-banner img {
  width: 556.01px;
  height: 438px;
  top: 153px;
}
.title-banner:hover {
  transform: scale(1.5) rotate(360deg) skew(-30deg);
  transition: transform 2s ease-in-out;
}
.title-name {
  display: grid;
  grid-template-columns: 1fr;
  font-size: 64px;
  color: #ffffff;
  margin-right: 102px;
  /* width: 485px;
     height: 230px; */
  /* margin-top: 207px; */
  /* margin-left: 156px; */
}
.link-button {
  text-decoration: none;
  background-color: #e02c6d;
  color: whitesmoke;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 24px;
  /* border-radius: 30px; */
  margin-top: 21px;
}
.fa-arrow-right {
  margin: 0px 8px;
}
/* .link-button,
.fa-arrow-right {
  display: flex;
  flex-direction: row;
  align-items: flex-center;
} */
/*------------------------
    Great Players Styles
----------------------- */
.great-players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
  background-color: white;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  width: 330px;
  height: 474px;
  padding: 15px;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  /* margin: 16px 0px; */
}
.player img {
  width: 300px;
  height: 256px;
  border: 1px solid white;
}
/*-------------------
     Footer Start 
  ------------------*/
.foot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.logo,
.font-awesome,
.copyright {
  margin: 20px 0px;
}
/* Footer End */
/* --------------------
      Media Queries 
-----------------------*/

/* ----------------------
      Mobile Devices
   --------------------*/
@media only screen and (max-width: 688px) {
  .container-1 {
    width: 100%;
  }
  .title,
  .title-banner,
  .great-players {
    grid-template-columns: repeat(1, 1fr);
  }
  .player {
    flex-direction: column;
  }
}

/* Tablet Devices */
@media only screen and (min-width: 688px) and (max-width: 992px) {
  .container-1 {
    width: 100%;
  }
  .great-players {
    /* background-color: chartreuse; */
    grid-template-columns: repeat(2, 1fr);
  }
}
